@import url('../base.css');

.conteudo__principal {
    display: flex;
    justify-content: space-between;
}

.texto_botao__principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo__titulo{
    font-size: var(--tamanho-titulo);
    color: var(--cor-secundaria);
    width: 825px;
    margin-bottom: 2rem;
}

.conteudo__texto{
    font-size: var(--tamanho-texto);
    color: var(--cor-secundaria);
    width: 600px;
    height: 145px;
}

.conteudo__botao{
    background-color: var(--cor-quartenaria);
    width: 330px;
    height: 100px;
    border: none;
    color: var(--cor-terciaria);
    font-size: 30px;
    border-radius: 30px;
}

.dashboard__pre-visualizacao {
    width: 850px;
    height: 500px;
    background-color: var(--cor-quartenaria);
    border-radius: 50px;
}

.conteudo__titulo{
    font-size: var(--tamanho-subtitulo);
    color: var(--cor-secundaria);
}

.conteudo__intertitulo{
    font-size: var(--tamanho-intertitulo);
    color: var(--cor-terciaria);
}

.conteudo__texto__container{
    font-size: var(--tamanho-texto-container);
    color: var(--cor-terciaria);
}

.sessao__principal {
    display: flex;
    min-width: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    padding: 60px 40px;
    justify-content: center ;
}

.img .conteudo__principal__dashboard {
    display: flex;
    position: relative;
    width: 673px;
    height: 450px;
    top: 350px;
}

.sessao__principal{
    background-color: var(--cor-primaria);
}

