:root {
    /* colors */
    --cor-primaria: #B5D291;
    --cor-secundaria: #204000;
    --cor-terciaria: #FDF8D7;
    --cor-quartenaria: #397200;
    --cor-quinaria: #FFFFFF;

    /* font-size */
    --tamanho-titulo: 4rem;
    --tamanho-subtitulo: 3.12rem;
    --tamanho-intertitulo: 2.18rem;
    --tamanho-texto: 1.87rem;
    --tamanho-texto-container: 1.75rem;
    --tamanho-texto-rodape: 1.5rem;
    --tamanho-texto-link: 1.25rem;

    /* spaces */
}

a {
    text-decoration: none;
}

.espacamento__padrao {
    padding: 0 3.75rem;
}

html {
    scroll-behavior: smooth;
}