/* importações */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Font Inter */
.inter__base {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter__medium {
    font-weight: 500;
}

.inter__regular {
    font-weight: 400;
}

.inter__extrabold {
    font-weight: 800;
}

/* Font Fraunces */
.fraunces__base {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.fraunces__regular {
    font-weight: 400;
}

.fraunces__semibold {
    font-weight: 600;
}

.fraunces__bold {
    font-weight: 700;
}

.fraunces__black {
    font-weight: 900;
}